node_modules/
node_modules/.tmp/
dist/
dist-ssr/
.vite/
.cache/
coverage/
test-results/
blob-report/
playwright-report/
.vite-inspect/
*.local
*.tsbuildinfo
package.json.md5
package-lock.json
pnpm-lock.yaml
yarn.lock
.eslintcache
.stylelintcache
