supplierOrderLineId,fulfillmentLineId,externalShipmentNo,carrierCode,carrierName,trackingNo,quantity,shippedAt
{{SOL_1}},{{FL_1}},FACTORY-JULY-A,UPS,UPS,1Z-SCENARIO-A-01,1,2026-07-15T10:00:00Z
{{SOL_2}},{{FL_2}},FACTORY-JULY-A,UPS,UPS,1Z-SCENARIO-A-02,1,2026-07-15T10:00:00Z
{{SOL_3}},{{FL_3}},FACTORY-JULY-A,UPS,UPS,1Z-SCENARIO-A-03,1,2026-07-15T10:00:00Z
{{SOL_4}},{{FL_4}},FACTORY-JULY-B,USPS,USPS,9400-SCENARIO-A-04,1,2026-07-16T11:00:00Z
{{SOL_5}},{{FL_5}},FACTORY-JULY-B,USPS,USPS,9400-SCENARIO-A-05,1,2026-07-16T11:00:00Z
{{SOL_6}},{{FL_6}},FACTORY-JULY-B,USPS,USPS,9400-SCENARIO-A-06,1,2026-07-16T11:00:00Z
